<!--@subject {{trans "Errore durante l'invio dell'ordine a Mexal"}}  @-->
<!DOCTYPE html>
<html>
    <head>
        <title>Errore durante l'invio dell'ordine a Mexal</title>
    </head>

    <body>
        <p>Gentile Amministratore,</p>
        <p>Si è verificato un errore durante l'invio di un ordine a Mexal:</p>
        <p><strong>Dettagli Errore:</strong></p>
        <pre>{{var errore}}</pre>
        <p>Per favore verifica il problema al più presto.</p>
        <p>Grazie,</p>
        <p>Il Team</p>
    </body>
</html>

